%h1
  = params[:tag]

%table
  %thead
    %tr
      %th Url
      %th Tags
      %th Description
      %th
      %th
      %th

  %tbody
    - @links.each do |link|
      %tr
        %td= link.url
        %td
          - link.tags.split(',').each do |tag|
            = link_to "##{tag.strip}", links_by_tag_path(tag)
        %td= link.description
        %td= link_to 'Show', link
        %td= link_to 'Edit', edit_link_path(link)
        %td= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }

%br
