%p#notice= notice

%p
  %b Url:
  = @link.url
%p
  %b Tags:
  - @link.tags.each do |tag|
    = link_to "##{tag}", links_by_tag_path(tag)
%p
  %b Description:
  = @link.description

= link_to 'Edit', edit_link_path(@link)
\|
= link_to 'Back', links_path
